Option_Pricer_Mvvm/Service References/PricerService/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:5588/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:5588/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:5588/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfWebService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_GetNewOption_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNewOption" />
  </wsdl:message>
  <wsdl:message name="IService_GetNewOption_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNewOptionResponse" />
  </wsdl:message>
  <wsdl:message name="IService_BlackScholesModel_InputMessage">
    <wsdl:part name="parameters" element="tns:BlackScholesModel" />
  </wsdl:message>
  <wsdl:message name="IService_BlackScholesModel_OutputMessage">
    <wsdl:part name="parameters" element="tns:BlackScholesModelResponse" />
  </wsdl:message>
  <wsdl:message name="IService_MonteCarloModel_InputMessage">
    <wsdl:part name="parameters" element="tns:MonteCarloModel" />
  </wsdl:message>
  <wsdl:message name="IService_MonteCarloModel_OutputMessage">
    <wsdl:part name="parameters" element="tns:MonteCarloModelResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="GetNewOption">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetNewOption" message="tns:IService_GetNewOption_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetNewOptionResponse" message="tns:IService_GetNewOption_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BlackScholesModel">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/BlackScholesModel" message="tns:IService_BlackScholesModel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/BlackScholesModelResponse" message="tns:IService_BlackScholesModel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MonteCarloModel">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/MonteCarloModel" message="tns:IService_MonteCarloModel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/MonteCarloModelResponse" message="tns:IService_MonteCarloModel_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetNewOption">
      <soap:operation soapAction="http://tempuri.org/IService/GetNewOption" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BlackScholesModel">
      <soap:operation soapAction="http://tempuri.org/IService/BlackScholesModel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MonteCarloModel">
      <soap:operation soapAction="http://tempuri.org/IService/MonteCarloModel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:5588/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>