Option_Pricer_Mvvm/Service References/PricerService/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfWebService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfWebService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Option">
    <xs:sequence>
      <xs:element minOccurs="0" name="CallPrice" nillable="true" type="tns:Price" />
      <xs:element minOccurs="0" name="Error" nillable="true" type="tns:ErrorType" />
      <xs:element minOccurs="0" name="Maturity" type="xs:double" />
      <xs:element minOccurs="0" name="NbrOfSimulations" type="xs:int" />
      <xs:element minOccurs="0" name="PutPrice" nillable="true" type="tns:Price" />
      <xs:element minOccurs="0" name="RiskFreeInterestRate" type="xs:double" />
      <xs:element minOccurs="0" name="Strike" type="xs:double" />
      <xs:element minOccurs="0" name="UnderlyingPrice" type="xs:double" />
      <xs:element minOccurs="0" name="Volatility" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Option" nillable="true" type="tns:Option" />
  <xs:complexType name="Price">
    <xs:sequence>
      <xs:element minOccurs="0" name="BS" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="MC" nillable="true" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Price" nillable="true" type="tns:Price" />
  <xs:complexType name="ErrorType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Call" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Put" nillable="true" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ErrorType" nillable="true" type="tns:ErrorType" />
</xs:schema>