Option_Pricer_Mvvm/Service References/PricerService/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5588/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfWebService" />
  <xs:element name="GetNewOption">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewOptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfWebService" minOccurs="0" name="GetNewOptionResult" nillable="true" type="q1:Option" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BlackScholesModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="d1" type="xs:double" />
        <xs:element minOccurs="0" name="d2" type="xs:double" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfWebService" minOccurs="0" name="option" nillable="true" type="q2:Option" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BlackScholesModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfWebService" minOccurs="0" name="BlackScholesModelResult" nillable="true" type="q3:Option" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MonteCarloModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfWebService" minOccurs="0" name="option" nillable="true" type="q4:Option" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MonteCarloModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfWebService" minOccurs="0" name="MonteCarloModelResult" nillable="true" type="q5:Option" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>